h1 {
    text-align: center;
    color: #129793;
}

h2 {
    color: #505050;
    text-align: center;
} 

p {
    color: #505050;
    text-align: center;
} 

ul {
    list-style-type:none;
    padding:0;
    overflow:hidden;
    background-color: #505050;
    margin-left: auto;
    margin-right: auto;
}

li {
    float: center;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;

}

li a:hover:not(.active){
    background-color: #1a1a1a;
}

.active{
    background-color: #9BD7D5;
}
