body, html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Lato", sans-serif;
	color: #777;
}


h3 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px "Lato", sans-serif;
	color: #111;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

.parallax {
    opacity: 0.65;
    position: relative;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align:center;
	color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

span.border.secondary{
  background-color: transparent;
  font-size: 25px;
  color: #f7f7f7;
}

.fixed-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 50px;
	background-color: #374048;
	color: #e0e0e0;
	font-family: Century Gothic, sans-serif;
}

#logo {
	display: inline;
	float: left;
	margin-left: 10px;
	font-size: 150%;
	border-style: solid;
	margin: 1px 1px 1px 1px;
}

.menu-items {
	float: right;
	margin-right: 10px;
	display: inline;
	list-style-type: none;
}

.menu-items li {
	display: inline;
	height: 100%;
}

.menu-items li a {
	text-decoration: none;
	color: #e0e0e0;
}

.menu-items li a:visited{
	text-decoration: none;
	color: #e0e0e0;
}

.menu-items li a:hover {
	text-decoration: none;
	background-color: #21262B;
}

.menu-items li a:active {
	text-decoration: none;
	background-color: #909295;
}

.name-logo {
	font: "Lato", sans-serif;
	font-size: 140%; 
	color: white;
	display: block;
	padding: 2px 2px 2px 2px;
	letter-spacing: 10px;
	border-style: solid;
	border-width: 2px;
}

.bgimg-0{
	/* The image used */
    background-image: url(../assets/img/program-bg2.jpg);
    /*Set a specific height*/
    min-height: 100%;

}


.bgimg-1{
	/* The image used */
    background-image: url(../assets/img/ia-background.jpg);
    /*Set a specific height*/
    min-height: 400px;

}

.bgimg-2{
	    /* The image used */
    background-image: url(../assets/img/twitter-bg.jpg);
    min-height: 400px;

}

.bgimg-3{
	    /* The image used */
    background-image: url(../assets/img/xwing.jpg);
    min-height: 400px;

}

.text{
	/*floating div text*/
	position: relative;
	color: #dddddd;
	text-align: center;
	background-color: #282E34;
	padding: 50px 80px;
	text-align: justify;
}

div.text h3{
	text-align: center;
	color: white;
}