h1 {
    text-align: center;
    color: #129793;
}

h2 {
    color: #505050;
    text-align: center;
} 

p {
    color: #505050;
    text-align: center;
} 

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

li {
    float: center;
}

li a {
    display: block;
    padding: 8px;
    text-align: center;
    text-decoration:none;
}
